@import 'variables';
@import 'mixins';

body {
  @include vertical-gradient($grey08, $grey07);
  display: flex;
  flex-direction: column;
  font-family: $sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

//
// @media screen and (min-width: $tablet) {
//
// }
//
// @media screen and (min-width: $desktop) {
//
// }
