@import 'variables';
@import 'mixins';

.flex-1 {
  flex: 1 1;
}

.flex-2 {
  flex: 1 1;
}

// @media screen and (min-width: $tablet-portrait) {
// }

@media screen and (min-width: $desktop-sm) {
  .flex-1 {
    flex: 1 1;
  }

  .flex-2 {
    flex: 2 2;
  }
}
