@import './colors';
@import './mixins';
@import './variables';

.page-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

// grid base
.row {
  display: flex;
}

// grid extras
$grid-additions: (
  10, 15, 20, 25, 30, 33, 40, 50, 60, 66, 70, 75, 85, 90, 100
);

@each $item in $grid-additions {
  .col-#{$item} {
    @include flex(1 1 #{$item + '%'});
    max-width: #{$item + '%'};
  }
}

.browser-ie,
.browser-edge {
  .page-content {
    display: block;
  }
}

@media screen and (min-width: $tablet-portrait) {

  .page-content {
    flex-direction: column;
    margin: 0 auto;
    width: $tablet-portrait - ($side-gutters * 2);
  }
}

@media screen and (min-width: $desktop-sm + 1) {
  .page-content {
    margin: 0 auto;
    width: $desktop-sm - ($side-gutters * 2);
  }
}
