<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trevor Clarke - Software Developer</title>
</head>
<body>
  <header>
    <tc-profile>
      <user-details>
        <h1>Trevor Clarke</h1>
        <h3>Passionate Software Engineer<br>3D Designer / Maker / Geek</h3>
      </user-details>
      <user-avatar>
        <img src="https://tjtcblog.s3.amazonaws.com/p/images/trevor2.jpg" alt="">
      </user-avatar>
    </tc-profile>
  </header>
  <section class="links">
    <ul>
      <li>
        <a class="link" href="mailto:besnoid@gmail.com?subject=Portfolio%20Introduction&body=Hello%20Trevor">Email</a>
      </li>
      <li>
        <a class="link" href="https://github.com/TrevorJTClarke" target="_blank">Github</a>
      </li>
      <li>
        <a class="link" href="https://twitter.com/trevorjtclarke" target="_blank">Twitter</a>
      </li>
    </ul>
  </section>
  <section class="coming-soon">
    <h1>Coming Soon</h1>
    <h3>I'm moving my portfolio onto the blockchain!</h3>
    <p>Soon you'll be able to peruse my creations, all validated and stored within Ethereum.</p>
  </section>
</body>
</html>
