@import '../core/variables';
@import '../core/mixins';

tc-profile {
  background: $primary;
  @include vertical-gradient($grey09, darken($grey09, 5%));
  // background: url('#{$base-cdn-url}trevor.jpg') left top no-repeat;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

user-details {
  position: absolute;
  left: 5vw;
  top: 50%;

  user-copy {
  }

  h1,
  h3 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 7vw;
    font-weight: 100;
  }

  h3 {
    font-size: 3vw;
    font-weight: 300;
    line-height: 3.7vw;
    margin-top: 12px;
    text-transform: capitalize;
  }
}

user-avatar {
  border-radius: 50%;
  position: relative;

  &::after {
    background: url('#{$base-cdn-url}trevor2.jpg') left top no-repeat;
    background-size: 100%;
    content: "";
    opacity: 0.3;
    position: absolute;
    height: 50vw;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-filter: grayscale(50%) blur(3px);
    filter: grayscale(50%) blur(3px);
    -webkit-clip-path: polygon(0 0, 10% 0, 100% 100%, 90% 100%);
    clip-path: polygon(0 0, 10% 0, 100% 100%, 90% 100%);
  }

  img {
    display: block;
    height: 50vw;
    -webkit-clip-path: polygon(100% 0, 10% 0, 100% 100%);
    clip-path: polygon(100% 0, 10% 0, 100% 100%);
  }
}

//
// @media screen and (min-width: $tablet) {
//
// }
//
// @media screen and (min-width: $desktop) {
//
// }
