.coming-soon {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 0 40px 80px;
  text-align: center;

  h1 {
    font-size: 24pt;
    font-weight: 200;
  }

  h3 {}
  p {
    line-height: 18pt;
  }
}
